{% extends 'base.html' %}



    {% block title %}欢迎使用Django社交化标签网络系统{% endblock %}
    {% block head %}Django社会化书签系统 &nbsp;
                    <a href="/feeds/recent/rss.xml">
                        <img src="/site_media/feed_icon.png" alt='订阅RSS' BORDER="0" />
                    </a>
    {% endblock %}
    <title></title>

{% block content %}
    {% if not user.is_authenticated %}
        欢迎 使用本系统，你可以再<a href="/accounts/login/?next=/">登录本系统后,
            保存和共享书签。</a>
    {% endif %}
    {% include "shared_bookmark_list.html" %}
{% endblock%}
